<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>

  <!-- <script src="	https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script> -->

</head>

<body>
  <br><br>
  <input type="file" id="fileInput" name="file">

  <button id="uploadButton">upload</button>
  <br><br>

  <script>
    //Uploading the file
    document.getElementById("uploadButton").onclick = () => {
      //File system code
      let fileElement = document.getElementById('fileInput')
      // check if user had selected a file
      if (fileElement.files.length === 0) {alert('please choose a file');return}
      let file = fileElement.files[0]
      const form = new FormData();
      form.append('file', file);
      //put request for file uploading
      fetch('/upload', {
        method: 'PUT',
        body: form
      })
        .then((response) => response.json())
        .then((result) => {
          alert("File Uploaded Successfully!")
        })
        .catch((error) => {
          alert("File not Uploaded!")
        });
    }
  </script>
  
</body>

</html>