
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="CSS/style.css">
  <script src="	https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>

</head>

<body>
    <br><br>
  <input type="file" id="fileInput" name="file" >

  <button id="uploadButton">upload</button>
  <br><br> 
  <label for="filename">Enter File Name</label>
  <input type="text" name="filename" id="filename" value="" required>

  <script src="JS/upload.js"></script>
</body>

</html>