<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <style>
        body {
            background-color: #f44336;
            color: white;
        }
        .alert{
            margin-top: 100px;
        }
    </style>
</head>

<body >
    <section>
        <center>
            <div class="alert">
            <h1>!  Not Allow</h1>
        </div>
        </center>
    </section>
</body>
</html>