/* body{
  overflow: hidden;
} */

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Orbitron:wght@600&family=Roboto+Mono&family=Roboto:wght@100;300&family=Ubuntu+Mono:ital@1&family=Ubuntu:wght@300&display=swap');

.QRcode{
  height: 250px !important;
  width: 250px !important;
}
.main{
  width: 360px;
  margin: auto;
  background: rgb(20, 44, 51) url("./image/bg.jpg") no-repeat  center ;
  height: 100vh;
  overflow: hidden;
  
}
.main-inner{
  padding: 5px;
}
.color-white{
  color: #464646;
}

/* ================navbar============= */
.display-flex{
  display: flex;
}
.fixed{
  position: fixed;
}
.space-between{
  align-items: center;
justify-content: space-between;
}
.space-center{
  align-items: center;
justify-content: center;
}
.border-down{
  /* margin-top:3px ; */
  border-bottom:1px solid hwb(228deg 61% 22%);
}
.nav-icon{
  margin-left: 10px;
  margin-right:10px ;
  font-size: 30px;
}
.background-white{
  color: #3a3a3a;
}

/* ==========home ================ */

.First-container1{
  width: 100%;
  height: 45vh;
  /* background-color: brown; */

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.main-button{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 10px;
}
.item{
  /* position: absolute; */
  width: 150px;
  height: 130px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

}
.effect :active{
  background-color: #f4f4f4;
  transform: translateY(4px) ;
}
h3{
  font-family: 'Orbitron', sans-serif;
}
.power-icon{
  /* position: absolute; */
  font-size: 30px;
  margin-right: 24px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* ===================================================== */
a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: inherit;
}




/* user page  */
.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}



button:hover, a:hover {
  opacity: 0.7;
}

.user-icon{
  text-align:center;
  margin: auto;
  font-size: 23px;
}